body{
    margin: 0px;
}

#himg{
    height:75vh;
    background-image: url(img/wp7135236-blue-pc-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(6px);

}
#htext{
    border: 0px;
    position: absolute ;
    top: 0%;
    left: 0%;
    text-align: center;
    opacity: 1;
    background-position: center;
    
    
    width: 100%;
    padding: 30px 0;
    text-align: center;
     background-attachment: fixed;
    
}
section{
    width=100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

#iconss{
    
    align-items: center;
    height: auto;
}

section:nth-child(2n){
    background-color: rgb(243, 243, 243);
}
section:nth-child(2n+1)
{
    background-color: rgb(255, 255, 255);
}

#htext2{
    padding: none;
    position: absolute ;
    top: 32%;
    left: 0%;
    width: 100%;
    padding: 40px 0;
    text-align: center;
     background-attachment: fixed;
}

.horiz2{
    padding: none;
}
.horiz2 li {
    font-size: 20px;
    display: inline;
    margin 0px 30px;
}
a{
    text-decoration: none;  
}

.horiz2 li a {
    
    display: inline;
    padding: 20px;
    border-radius: 50%; 
     transition: transform 0.2s;
    
    
    color: rgb(214, 216, 214);
}

.horiz2 li a:hover{
    box-shadow: 0px 0px 6px 4px rgb(17, 17, 17);
    
    
}



.horiz-list{
    padding: none;
}

.horiz-list li{
    font-size: 18px;
    display: inline;
    margin: 0px 30px;
    
}

.horiz-list li a {
    font-size: 30px;
    color: rgb(211, 212, 211);
    text-decoration: none;
    transition: color 0.75s ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}
.horiz-list li a:hover{
    color: rgb(83, 80, 255);
    border-bottom: 5px solid rgb(83, 80, 255);
    
}
.highlight{
    color: rgb(23, 21, 153);
    font-weight: 780;
}
#name{
    font-size: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0.75;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#name:hover{
    opacity:1;
}

.textcenter{
    text-align: center ;
}

#about{
    height: auto;
    width: 100%;
    
    position: relative;
}
#dp
{
    height: 15rem;
    width: 15rem;
    margin: auto;
}
#dp img{
    
   height: 100%;
   width: 100%; 
   border-radius: 50%;
   margin-top: -17vh;
   border-style: solid;
   border-width: 4px;
   border-color: ivory;
   box-shadow: 0px 0px 6px 5px rgb(148, 148, 148);
   
}
#dp img:hover{
    transform: scale(1.005);
}
#about{
    align-items: center;
}
#myself{
    
    text-align: center;
    color: rgb(73, 72, 72);
    margin-top: -5%;
    width:65%;
    font-size: 25px;
    font-weight: 700;
    font-family: sans-serif;
    font-stretch: wider;
}

@media  screen and (max-width:900px)
{
    #myself{
        width: 80%;
    }
}

@media  screen and (max-width:600px)
{
    #myself{
        width: 95%;
    }
}

#shead{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:blue;
}
#shead i:hover{
    transform: scale(1.1);
}

.iconss{
    width: 60%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;margin-bottom: 40px;
    padding: 20px;
    

    
}
@media screen and (max-width: 1462px)
{
    .iconss{
        width: 80%;
    }
}


.prog
{
    
    width: 13rem;
    height: 2.5rem;
    background-color: gray;
    border-radius: 0.8rem;
    border: 1px solid rgb(145, 144, 144);
    box-shadow: 0px 0px 6px 4px rgb(177, 176, 176);
    margin: 40px;
}

@media (max-width: 900px)
{
    .iconss{
        width: 100%;
        transform: scale(0.85);
    }
    .prog{
        margin-left : 5px;
        margin-right: 5px;
    }
}

.percent90 {

width:90%;
height: inherit;
}

.percent70 {

    width:70%;
    height: inherit;
    }

    .percent60 {

        width:60%;
        height: inherit;
        }
.percent50 {

width:50%;
height: inherit;
}
.percent40 {

    width:30%;
    height: inherit;
    }

.skill-name{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: rgb(253, 253, 253);
}

.skill-name span{
    text-align: center;
}

.iconblue{
    background-color: rgb(37, 84, 238);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.iconorange{
    background-color: rgb(238, 144, 37);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.icongreen{
    background-color: rgb(22, 216, 4);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.iconred{
    background-color: rgb(192, 19, 19);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.iconcyan{
    background-color: rgb(9, 183, 189);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.iconyel{
    background-color: rgb(2, 78, 15);
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
}
.prog:hover{
    transform: scale(1.25);
}

.Contact{
    display: flex;
    width: auto;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    border: solid 2px;
    
}

@media (max-width: 600px)
{
    .Contact{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        
    }
}

#contact{
    height:auto;
    background-image: linear-gradient(-120deg , rgb(14, 1, 196),rgb(7, 112, 250) 30%, rgb(14, 1, 196) 170%);
}

#chead{
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(252, 252, 252);
}
#chead i:hover{
    transform: scale(1.1);
}
#cform{

    /* border: solid 2px; */
    width: 50%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    margin: 5px;
    padding: 20px;
}
#chead2{
  text-align: center;
     margin-bottom: 20px;
    /* padding: 20px;  */
    font-size: 25px;
    font-weight: 700; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(252, 252, 252); 

}

label{
    margin-left: 5px;
    color: white;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input[type=text]{
    outline: none;
    padding: 3px;
    margin: 4px;
    border: none;
    background-color: rgb(211, 211, 211);
    
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
    background-color: white;
}
 input[type=submit] {
     outline: none;
    background: transparent;
    border: none;
    color: white;
    padding: 2px 10px;
    font-weight: 600;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;

    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 1px rgb(58, 58, 58);
  }

  input[type=submit]:focus{
      box-shadow: none;
  }

  #myget{

    /* border: solid 2px; */

      
      display: flex;
      
      width: 50%;
      margin: 5px;
      padding: 10px;
      flex-wrap: nowrap;
      flex-direction: column;
      /* align-items: center; */
      
 }
  #chead3{
         margin-bottom: -20px;
        padding: 20px; 
        font-size: 25px;
        font-weight: 700; 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(252, 252, 252); 
  }
  #getp{
      
      width: 90%;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom : 0px;
   font-size: 15px;
   font-weight: 700; 
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: rgb(252, 252, 252); 
  }


  #contlist{
      margin-top: -25px;
      list-style-type: none;
  }
#htext3{
    padding: none;
    left: 0%;
    width: 100%;
    padding: 40px 0;
    text-align: center;
     background-attachment: fixed;
}

.contlist{
    padding: none;
}
.contlist li {
    margin-left: -13px;
    list-style-type: none;
    text-decoration: none; 
    font-size: 15px;

     color: rgb(255, 255, 255);
    
}

.contlist li span{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; 
}

.horiz3{
    padding: none;
}
.horiz3 li {
    font-size: 30px;
    display: inline;
    /* margin 0px 30px; */
}
a{
    text-decoration: none;  
}

.horiz3 li a {
    
    display: inline;
    padding: 20px;
    border-radius: 50%;
     transition: transform 0.2s;
     color: rgb(255, 255, 255);
}

.horiz3 li i:hover{
    transform: scale(1.5);
}

.Edu{
    display: flex;
    height: auto;
    align-items: center;
    padding: 20px;
}
.edu-head
{
    margin: 30px;
    color: blue;
    font-weight: 750;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edu{
    /* display: flex; */
    justify-content: center;
    margin: 5px;
    position: relative;
    width: 80%;
    border: solid 2px black;
    
}



.edu1{
    left: 5%;
    margin: 5px;
    position: relative;
    min-height: 150px;
    width: 40%;
    border: solid 2px black;
}

.edu1:nth-child(2n)
{
    left : 55%;
}

@media screen and (max-width: 800 px)
{
    .edu1:nth-child(2n)
    {
        left : 5%;
    }
}



.edu1:nth-child(2n+1)::after{
    content: '';
    top: 40%;
    position: absolute;
    border-radius: 50%;
    right: -12.7%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(19, 19, 19);
    z-index:2 ;
}

.edu1:nth-child(2n)::after{
    content: '';
    top: 40%;
    position: absolute;
    border-radius: 50%;
    left: -15%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(19, 19, 19);
    z-index:2 ;
}



#edudivide{
    
    height: 100%;
    position: absolute;
    width: 0%;
    top: 0%;
    
    /* left: -15%; */
    left: 50%;
    border: dashed 1px cadetblue;
}
#edutravel
{
    position: sticky;
    top: 50%;
    transform: rotate(90deg);
    font-size: 20px;
    z-index: 3;
}
.projhead{
    text-align: center;
    margin: 30px;
    color: blue;
    font-weight: 750;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



